# ENVIROMENT VARIABLES - DEVELOPMENT ONLY
# REMEMBER: REMIX DOES NOT BUNDLE .ENV FILES IN PRODUCTION!
# THE VALUES HERE ARE FOR DEVELOPMENT ONLY - IN PRODUCTION, USE ENVIRONMENT VARIABLES IN YOUR HOSTING PROVIDER
# THE VITE VARIABLES ARE PUBLIC, SO DO NOT PLACE SENSITIVE DATA THERE

# SITE
VITE_SITE_URL=http://localhost:3000
VITE_PRODUCT_NAME=Qwery
VITE_SITE_TITLE="Qwery Data Platform"
VITE_SITE_DESCRIPTION="Data automation for any team"
VITE_DEFAULT_THEME_MODE=dark
VITE_THEME_COLOR="#ffffff"
VITE_THEME_COLOR_DARK="#0a0a0a"

# AUTH
VITE_AUTH_PASSWORD=true
VITE_AUTH_MAGIC_LINK=false
VITE_CAPTCHA_SITE_KEY=
VITE_DISPLAY_TERMS_AND_CONDITIONS_CHECKBOX=false

# BILLING
VITE_BILLING_PROVIDER=stripe

# CMS
VITE_CMS_CLIENT=keystatic

# KEYSTATIC
VITE_KEYSTATIC_CONTENT_PATH=./content

# LOCALES PATH
VITE_LOCALES_PATH=apps/web/public/locales

# FEATURE FLAGS


# SUPABASE
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

## THIS IS FOR DEVELOPMENT ONLY - DO NOT USE IN PRODUCTION
SUPABASE_DB_WEBHOOK_SECRET=WEBHOOKSECRET

# EMAILS
EMAIL_SENDER=test@rasm.ai
EMAIL_PORT=54325
EMAIL_HOST=localhost
EMAIL_TLS=false
EMAIL_USER=user
EMAIL_PASSWORD=password

# CONTACT FORM
CONTACT_EMAIL=hello@rasm.ai

# STRIPE
VITE_STRIPE_PUBLISHABLE_KEY=

# MAILER
MAILER_PROVIDER=resend

# STRIPE SECRET
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=

# Qwery Enterprise
VITE_STORAGE_ADAPTER=sqlite
VITE_DB_NAME=guepard.db
## Possible values: memory | indexed-db | sqlite
VITE_DATABASE_PROVIDER=sqlite
VITE_DATABASE_PATH=guepard.db

## Possible values: local | s3 | browser
VITE_WORKING_DIR=file://workspace
#S3_ENDPOINT='localhost:9000'
#S3_URL_STYLE='path'
#S3_USE_SSL='false'
#S3_ACCESS_KEY_ID=minio
#S3_SECRET_ACCESS_KEY=minio123
DUCKDB_HOME_DIR=/tmp
ID_SHORTEN_ALPHABET=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

## Desktop App
ELECTRON_RENDERER_URL=http://127.0.0.1:5175
VITE_SITE_URL=http://localhost:5173
VITE_SITE_DESCRIPTION="Data automation for any team"

## Telemetry
VITE_ENABLE_TELEMETRY=true
VITE_POSTHOG_HOST=
VITE_POSTHOG_INGESTION_URL="/ingest"
VITE_POSTHOG_KEY=
VITE_SENTRY_DSN=
VITE_SENTRY_ORG=
VITE_SENTRY_PROJECT=
QWERY_TELEMETRY_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
QWERY_EXPORT_APP_TELEMETRY=true
QWERY_EXPORT_METRICS=false
QWERY_TELEMETRY_DEBUG=true

# AI
AZURE_API_KEY=
AZURE_RESOURCE_NAME=
AZURE_OPENAI_DEPLOYMENT=


# Locale
VITE_LOCALE=en


# apps/web/.env

#ENCRYPTION 
#USE openssl rand -hex 32
ENCRYPTION_KEY=
VITE_MSW_ENABLED=0
VITE_MSW_STRICT=0